body {
  background-color: #F4DFBA;
  font-size: 14px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #798777;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #876445;
}

h3 {
  color: #876445;
}
