/********************* TAG SELECTORS *****************/

body {
  background-color: #F4DFBA;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #798777;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #876445;
}


h3 {
  color: #876445;
}


/********************* SUDO SELECTORS *****************/

h3:hover {
  color: #CA965C;
}


img:hover {
  background-color: gold;
}

/********************* CLASS SELECTORS *****************/
.form1 {
  color: #876445;
}

.form2 {
  color: #362222;
}

.estrelas:hover {
  background-color: #876445;
}
