
  body {
    background-color: #D3DEDC;
  }

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #798777;
  border-width: 5px;
  width: 10%;
}

h1 {
color: #7C99AC;

}

h3 {
color: #7C99AC;
  
}
