/********************* TAG SELECTORS *****************/



h1 {
  font-size: 200px;
  color: red;

}

img:hover {
  background-color: gold;
}

/********************* class SELECTORS *****************/

.bacon {

  background-color: green;
position: relative;
  left: 30px;

}

.broccoli {

  background-color: red;
  position: relative;
    left: 40px;
    top: 40px;


}

.circular {
  border-radius: 100%;
}

/********************* ID SELECTORS *****************/

#heading {
  color: blue;
}
